QWidget {
    background-color: rgb(167, 163, 163);
    color: white;
}
QPushButton {
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 25%;
    color: rgb(76, 186, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
QLineEdit {
    background-color: rgb(167, 163, 163);
    color: white;
}
QMainWindow {
    background-color: rgb(167, 163, 163);
}

QPushButton:hover{
    background-color: rgb(76, 186, 255);
    color: white;
}

QLabel {
    background-color: white;
    border-radius: 10px;
    color: rgb(76, 186, 255);
}
