QWidget {
    background-color: #686868;
    color: "white";
}
QPushButton {
    background-color: rgb(167, 163, 163);
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
QLineEdit {
    background-color: "white";
    color: "white";
}
QMainWindow {
    background-color: rgb(167, 163, 163);
}

QPushButton:hover{
    background-color: white
}

QLabel {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    color: black;
}